<?xml version="1.0"?>
<!--
/**
 * Viktoriia Sira <viktoriia.s@perspectiveteam.com>
 * All Rights Reserved.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Sales\Api\OrderRepositoryInterface">
        <plugin name="perspective_save_weather_insurance"
                type="Perspective\WeatherInsurance\Plugin\SaveWeatherInsurancePlugin"
                sortOrder="10" />
    </type>
</config>
