<?xml version="1.0"?>
<!--
/**
 * Viktoriia Sira <viktoriia.s@perspectiveteam.com>
 * All Rights Reserved.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="carriers">
            <group id="perspectiveshipping" translate="label" type="text" sortOrder="999" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Perspective Delivery</label>
                <field id="active" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="0" canRestore="1">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="name" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Perspective Delivery</label>
                </field>
                <field id="price" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="0" canRestore="1">
                    <label>Price</label>
                    <validate>validate-number validate-zero-or-greater</validate>
                </field>
                <field id="handling_type" translate="label" type="select" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="0" canRestore="1">
                    <label>Calculate Handling Fee</label>
                    <source_model>Magento\Shipping\Model\Source\HandlingType</source_model>
                </field>
                <field id="handling_fee" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Handling Fee</label>
                    <validate>validate-number validate-zero-or-greater</validate>
                </field>
                <field id="sort_order" translate="label" type="text" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Sort Order</label>
                </field>
                <field id="title" translate="label" type="text" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Title</label>
                </field>
                <field id="sallowspecific" translate="label" type="select" sortOrder="70" showInDefault="1" showInWebsite="1" showInStore="0" canRestore="1">
                    <label>Ship to Applicable Countries</label>
                    <frontend_class>shipping-applicable-country</frontend_class>
                    <source_model>Magento\Shipping\Model\Config\Source\Allspecificcountries</source_model>
                </field>
                <field id="specificcountry" translate="label" type="multiselect" sortOrder="80" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Ship to Specific Countries</label>
                    <source_model>Magento\Directory\Model\Config\Source\Country</source_model>
                    <can_be_empty>1</can_be_empty>
                </field>
                <field id="showmethod" translate="label" type="select" sortOrder="90" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Show Method if Not Applicable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <frontend_class>shipping-skip-hide</frontend_class>
                </field>
                <field id="specificerrmsg" translate="label" type="textarea" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Displayed Error Message</label>
                </field>
            </group>
        </section>
        <section id="shipping">
            <group id="perspectiveshipping" translate="label" sortOrder="999" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Perspective Shipping Discounts</label>
                <group id="general" translate="label" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>General</label>
                    <field id="enabled" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1">
                        <label>Enable Shipping Method</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    </field>
                    <field id="available_customer_groups" translate="label" type="multiselect" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Customer Groups</label>
                        <source_model>Magento\Customer\Model\Customer\Source\Group</source_model>
                        <comment>Select the customer groups for the Perspective Shipping Method is available.</comment>
                        <depends>
                            <field id="enabled">1</field>
                        </depends>
                    </field>
                    <field id="max_number_of_products" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" canRestore="1">
                        <label>Maximum Number Of Products For Discount</label>
                        <validate>validate-number validate-zero-or-greater</validate>
                        <depends>
                            <field id="enabled">1</field>
                        </depends>
                    </field>
                    <field id="max_discount" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" canRestore="1">
                        <label>Maximum Discount (%)</label>
                        <validate>validate-number validate-zero-or-greater</validate>
                        <depends>
                            <field id="enabled">1</field>
                        </depends>
                    </field>
                    <field id="min_shipping_cost" translate="label" type="text" sortOrder="50" showInDefault="1" showInWebsite="1" canRestore="1">
                        <label>Minimum Shipping Cost</label>
                        <validate>validate-number validate-zero-or-greater</validate>
                        <depends>
                            <field id="enabled">1</field>
                        </depends>
                    </field>
                    <field id="discount_rules" translate="label" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Quantity discount rules</label>
                        <frontend_model>Perspective\CustomCartProductShipping\Block\Adminhtml\Form\Field\DynamicRulesGrid</frontend_model>
                        <backend_model>Magento\Config\Model\Config\Backend\Serialized\ArraySerialized</backend_model>
                        <depends>
                            <field id="enabled">1</field>
                        </depends>
                    </field>
                </group>
            </group>
        </section>
    </system>
</config>
