<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\ConfigurableProduct\Pricing\Price\FinalPrice">
        <plugin name="ps_configurable_final_price_plp"
                type="Perspective\CustomPriceAttribute\Plugin\ConfigurablePrice" sortOrder="10"/>
    </type>

    <type name="Magento\ConfigurableProduct\Pricing\Price\ConfigurableRegularPrice">
        <plugin name="ps_configurable_regular_price_plp"
                type="Perspective\CustomPriceAttribute\Plugin\ConfigurablePrice" sortOrder="10"/>
    </type>
</config>
