<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Config/etc/config.xsd">
    <default>
        <ps_giphy_memes>
            <general_settings>
                <enabled>0</enabled>
                <gifs_count>3</gifs_count>
                <api_url>https://api.giphy.com/v1/gifs/search</api_url>
                <api_key>your_api_key</api_key>
            </general_settings>
        </ps_giphy_memes>
    </default>
</config>
