<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Config/etc/config.xsd">
    <default>
        <perspective_bonuses>
            <discount_category>
                <enabled>0</enabled>
                <min_qty>0</min_qty>
                <percent>0</percent>
            </discount_category>

            <discount_shipping>
                <enabled>0</enabled>
                <first_threshold_min_total>0</first_threshold_min_total>
                <first_threshold_discount_value>0</first_threshold_discount_value>
                <second_threshold_min_total>0</second_threshold_min_total>
                <second_threshold_discount_value>0</second_threshold_discount_value>
            </discount_shipping>

            <gift>
                <enabled>0</enabled>
                <threshold_min_total>0</threshold_min_total>
            </gift>
        </perspective_bonuses>
    </default>
</config>
