<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Config/etc/config.xsd">
    <default>
        <custom_price_attribute>
            <general_settings>
                <price_increase_percentage>15</price_increase_percentage>
            </general_settings>
        </custom_price_attribute>
    </default>
</config>
